.content1 h1 {
    color: #EB6874;
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    letter-spacing: 1.5pt;
}

.ruler {
    width: 45px;
    height: 3px;
    border-radius: 5px;
    background-color: #474646;
    margin: 10px auto;
  }

.content1 p {
    color: #474646;
    text-align: center;
    font-size: 16pt;
    line-height: 1.7;
}
.for-your-needs {
    width: 60%;
    margin: auto;
}
.for-your-needs h1 {
    color: #EB6874;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 6.5px;
}
.for-your-needs p {
    text-align: center;
    letter-spacing: 2px;
    color: #F2F2F2E0;
    font-size: 20px;
}

.pinkbg {
    background-color: #e8ddda;
}
.bluebg {
    background-color: #0C2242;
}
.mybutton:hover {
    background-color: #EB6874;
    color: #fff;
}
.mybutton {
    background-color: #fff;
    color: #0C2242;
    font-size: 18pt;
    font-weight: bolder;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.round-30 {
    border-radius: 30px;
}
.custom-padding {
    padding: 50px;
}
.give-call h1 {
    color: #EB6874;
    letter-spacing: 5.5px;
    font-size: 17pt;
}
.give-call li {
    list-style: none;
    color: #474646;
    font-size: 12pt;
    line-height: 2.5;
    display: inline-block;
}