.pinkbg {
    background-color: #e8ddda;
}
.bluebg {
    background-color: #0C2242;
}
.content1 {
    padding: 230px 290px 230px 300px ;
}
.content1 h1 {
    color: #EB6874;
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    letter-spacing: 1.5pt;
}
.content1 p {
    color: #474646;
    text-align: center;
    font-size: 16pt;
    line-height: 1.7;
}
.ruler {
    width: 45px;
    height: 3px;
    border-radius: 5px;
    background-color: #474646;
    margin: auto;
  }
.for-your-needs {
    padding: 90px 262px 45px 262px;
}
.for-your-needs h1 {
    color: #EB6874;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 6.5px;
}
.for-your-needs p {
    text-align: center;
    letter-spacing: 2px;
    color: #F2F2F2E0;
    font-size: 20px;
}

.gallery {
    padding: 0 190px 125px 190px;
}


.mybutton:hover {
    background-color: #EB6874;
    color: #fff;
}
.mybutton {
    background-color: #fff;
    color: #0C2242;
    font-size: 18pt;
    font-weight: bolder;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.round-30 {
    border-radius: 30px;
}

.give-call h1 {
    color: #EB6874;
    letter-spacing: 5.5px;
    font-size: 17pt;
}
.give-call li {
    color: #474646;
    font-size: 12pt;
    line-height: 2.5;
}
.section3 {
    width: 80%;
    margin: auto;
}
.section3 h1{
    color: #EB6874;
}
.section3 p{
    width: 80%;
    color: #E8E8E8;
}
.pt-50{
    padding-top: 100px;
}
.newsandblogs{
    width: 80%;
    margin: auto;
}

.newsandblogs h1{
    color: #0C2242;
    letter-spacing: 7.5px;
    font-size: 20px;
    width: 50%;
    margin: auto;
}
.myfooter h4{
    color: #EB6874;
    font-size: 16pt;
    font-weight: bold;
}
.myfooter li{
    list-style: none;
}
.width-300{
    width: 300px;
}

.newsbutton:hover {
    background-color: #EB6874;
    color: #fff;
}
.newsbutton {
    background-color: #fff;
    color: #0C2242;
    font-weight: bolder;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.post1 {
    font-size: 16pt;
}